/* Add a black background color to the top navigation */
.topnav {
  background-color: #1b262c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #a8e6cf;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f96d80;
  color: white;
}
.intro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
  top: 50%;

}

.top-cloud {
  position: absolute;
  right:18%;
  top: 10%;
}

#top-container {
  background-color: #a8e6cf;
  text-align: center;
  margin: 0;
  border: 0;
  padding: 6.25rem 6.25rem 3.125rem 6.25rem;
  line-height: 1.7;

}

body {
  margin: 0;
  font-family: 'Domine', serif;
  font-weight: 500;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 6.25rem;
  font-family: 'Sacramento', cursive;
  color: #45b29a;
}
h2 {
  color: #45B29A;
  font-size: 1.5625rem;
  text-decoration: underline;
}

h3 {
  color: #45b29a;
}

.middle-container {
  text-align: center;
  margin: 0 auto;
  border: 0;
  line-height: 2;
  background-color: #ffffff;
}

.bottom-container {
  text-align: center;
  margin: 0;
  border: 0;
  background-color: #b7efcd;
  padding: 1rem 0 1rem 0;
}

.profile {
  text-align: center;
  margin: 0;
}

hr {
  border-color: #a8df65;
  border-style: dotted;
  border-width: 0.3125rem 0 0 0;
  width: 5%;
}
.para{
  font-size: 2.25rem;
  font-family: 'Sacramento', cursive;
}

.cricket {
  width: 15.625rem;
  height: 15.625rem;
  float: right;
  margin-left: 20px;
}

.tv-shows {
  width: 15.625rem;
  height: 15.625rem;
  float: left;
  margin-right: 20px;
}

#skills {
  width: 50%;
  line-height: 2;
  margin: 0 auto;
  text-align: left;
}
#journey {
  width: 50%;
  line-height: 2;
  margin: 0 auto;
  text-align: left;
}
#tech-skill{
  width: 50%;
  line-height: 2;
  margin: 0 auto;
  text-align: left;
}

.footer-link {
  color: #45b29a;
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
}

.mountain {
  margin-bottom: 0;
}

.head {
  font-size: 1.875rem;
  color: #45b29a;
  font-weight: 100;
}

.copyright {
  font-family: monospace;
  font-size: 0.80rem;
  color: #45b29a;
}

.journey{
  height: 300px;
  width: 400px;
  float: right;
  margin-left: 30px;
}

.journeytwo{
  height: 300px;
  width: 400px;
  float: left;
  margin-left: 30px;
}

.btn {
  text-decoration: none;
  color: #45b29a;
}

.sec {
  border-color: #e0ebe8;
  border-style: dotted;
  border-width: 0.3125rem 0 0 0;
  width: 50%;
}

.lang {
  background-color: white;
  width: 7.375rem;
  height: 7.375rem;
  padding:0.625rem;
}

.end {
  border-style: solid;
  border-color: #e0ebe8;
  border-width: 0.125rem 0 0 0;
  width: auto;
}

.skill-row {
  padding-bottom: 2.1875rem;
  line-height: 2;
  text-align: left;
}

.skill-row2 {
  padding-top: 2.1875rem;
  line-height: 2;
  text-align: justify;
}

.hello {
  color: #45b29a;
  font-size: 1.5625rem;
  text-decoration: none;
}

#butn {
  background: #f688bb;
  background-image: -webkit-linear-gradient(top, #f688bb, #f688bb);
  background-image: -moz-linear-gradient(top, #f688bb, #f688bb);
  background-image: -ms-linear-gradient(top, #f688bb, #f688bb);
  background-image: -o-linear-gradient(top, #f688bb, #f688bb);
  background-image: linear-gradient(to bottom, #f688bb, #f688bb);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #FFFFFf;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #1e836c;
  background-image: -webkit-linear-gradient(top, #1e836c, #1e836c);
  background-image: -moz-linear-gradient(top, #1e836c, #1e836c);
  background-image: -ms-linear-gradient(top, #1e836c, #1e836c);
  background-image: -o-linear-gradient(top, #1e836c, #1e836c);
  background-image: linear-gradient(to bottom, #1e836c, #1e836c);
  text-decoration: none;
}
